body{
    position: relative;
    background-image: url("https://img.freepik.com/free-vector/minimalist-white-background_23-2148810887.jpg?w=2000");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}